<div class="container">
  <p>
    <strong>书名:</strong>
    <%= @book.name %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= @book.writer.name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= @book.summary %>
  </p>
</div>
